language: cpp

matrix:
  include:
    - os: linux
      compiler: gcc
      env:
      - MATRIX_EVAL="CONDA_OS=Linux"
    - os: linux
      compiler: clang
      env:
      - MATRIX_EVAL="CONDA_OS=Linux"
    - os: osx
      osx_image: xcode10
      compiler: clang
      env:
      - MATRIX_EVAL="CONDA_OS=MacOSX"

before_install:
- eval "${MATRIX_EVAL}"
- |
  wget "http://repo.continuum.io/miniconda/Miniconda3-latest-${CONDA_OS}-x86_64.sh" -O miniconda.sh;
  bash miniconda.sh -b -p $HOME/miniconda
  export PATH="$HOME/miniconda/bin:$PATH"
  hash -r
  conda update -yq conda
  conda install -y cmake gsl fftw asv -c conda-forge
- cp asv-machine_testdummy.json ~/.asv-machine.json

script:
- asv run --machine testdummy
